.rcw-widget-container {
  height: auto;
  width: auto;
}

@media screen and (max-width: 800px) {
  .rcw-messages-container {
    height: 300px;
    max-height: 100%;
  }
  .conversation-container {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
  }
}

.rcw-widget-container .conversation-container {
  width: 370px;
  margin-bottom: 10px;
}
.rcw-widget-container .launcher {
  margin-top: 0;
}
